.cases {
    padding: 100px 0;
    &__list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 40px;
    }
    &__item {
        position: relative;
        width: 48%;
        overflow: hidden;
        a {
            width: 100%;
        }
        img {
            width: 100%;
        }
        &:hover {
            .cases__work {
                left: 25%;
            }
            .cases__descr {
                left: 0;
            }
        }
    }
    &__work {
        position: absolute;
        left: 10%;
        bottom: 15%;
        transition: all .5s ease-in-out;
        h3 {
            margin-bottom: 15px;
            font-size: 24px;
            font-weight: 700;
        }
        p {
            font-size: 15px;
            font-weight: 500;
        }
    }
    &__descr {
        position: absolute;
        top: 0;
        left: -15%;
        height: 100%;
        width: 15%;
        background-color: #6100FF;
        transition: all .5s ease-in-out;
        cursor: pointer;
        pointer-events: none;
        p {
            position: absolute;
            transform: rotate(-90deg);
            width: 130%;
            height: auto;
            display: block;
            top: 50%;
            left: -13%;
            font-size: 20px;
            &::after {
                position: absolute;
                content: '';
                width: 28px;
                height: 44px;
                background-image: url(/img/cases/arrow.png);
                background-size: cover;
                background-repeat: no-repeat;
                bottom: -70%;
                left: 120%;
                transform: rotate(90deg);
            }
        }
    }
}
@media(max-width: 1640px) {
    .cases {
        &__descr {
            p {
                width: 173%;
                top: 54%;
                left: -34%;
            }
        }
    }
}
@media(max-width: 1280px) {
    .cases {
        padding: 50px 0;
        &__descr {
            p {
                width: 238%;
                top: 56%;
                left: -65%;
            }
        }
        
    }
}
@media(max-width: 991px) {
    .cases {
        padding: 50px 0;
        &__item {
            width: 48%;
        }
        &__descr {
            p {
                width: 164%;
                left: -33%;
                &::after {
                    bottom: 11%;
                    width: 16px;
                    height: 30px;
                }
            }
           
        }
    }
}
@media(max-width: 576px) {
    .cases {
        padding: 25px 0;
        &__title {
            margin-bottom: 20px;
            z-index: 24;
        }
        &__list {
            row-gap: 15px;
        }
        &__descr {
            display: none;
            &::after {
                display: none;
            }
        }
        &__work {
            left: 7%;
            bottom: 7%;
            h3 {
                margin-bottom: 10px;
            }
        }
        &__item {
            width: 100%;
            &:hover {
                .cases__work {
                    left: 7%;
                }
            }
        }
    }
}