<section class="cases">
    <div class="container">
        <h2 class="cases__title title">кейсы</h2>
        <ul class="cases__list">
            <li class="cases__item">
                <a href="#">
                    <img src="/img/cases/1.jpg" alt="case">
                    <div class="cases__work">
                        <h3>Скоро</h3>
                        <p>Мы добавим кейсы с работами в ближайшее время.</p>
                    </div>
                </a>
                <div class="cases__descr">
                    <p>смотреть кейс</p>
                </div>
            </li>
            <li class="cases__item">
                <a href="#">
                    <img src="/img/cases/1.jpg" alt="case">
                    <div class="cases__work">
                        <h3>Скоро</h3>
                        <p>Мы добавим кейсы с работами в ближайшее время.</p>
                    </div>
                </a>
                <div class="cases__descr">
                    <p>смотреть кейс</p>
                </div>
            </li>
            <li class="cases__item">
                <a href="#">
                    <img src="/img/cases/3.jpg" alt="case">
                    <div class="cases__work">
                        <h3>Скоро</h3>
                        <p>Мы добавим кейсы с работами в ближайшее время.</p>
                    </div>
                </a>
                <div class="cases__descr">
                    <p>смотреть кейс</p>
                </div>
            </li>
            <li class="cases__item">
                <a href="#">
                    <img src="/img/cases/3.jpg" alt="case">
                    <div class="cases__work">
                        <h3>Скоро</h3>
                        <p>Мы добавим кейсы с работами в ближайшее время.</p>
                    </div>
                </a>
                <div class="cases__descr">
                    <p>смотреть кейс</p>
                </div>
            </li>
        </ul>
    </div>
</section>