<section class="promo" id="promo">
    <div class="promo__bg"></div>
    <div class="container">
        <h1 class="promo__title title">
            <span>всё начинается</span>
            <span class="italic">с точки</span>
        </h1>
        <div class="promo__wrapper">
            <ul class="promo__breef">
                <li class="promo__item">бриф</li>
                <li class="promo__item">дизайн</li>
                <li class="promo__item">верстка</li>
                <li class="promo__item">оптимизация</li>
                <li class="promo__item">СЕО</li>
                <li class="promo__item">поддержка</li>
            </ul>
            <div class="promo__descr">
                мы занимаемся дизайном и разработкой веб-сайтов разного уровня сложности, а также их технической поддержкой
            </div>
            <button class="promo__btn button  button--long">
                начать проект
            </button>
        </div>
    </div>
</section>