<section class="promo" id="promo">
    <div class="promo__bg"></div>
    <div class="container">
        <div class="promo__title title">
            <span>customer</span>
            <div class="promo__arrows">
                <img src="/img/promo/arrow.png" alt="arrow">
                <img src="/img/promo/arrow.png" alt="arrow">
            </div>
            <span>Improving customer experience
                is a human-centred concept</span>
            <span>Experience</span>
            <span>World Forum</span>
        </div>
        <div class="promo__dates">
            <div class="promo__timer">
                <div class="promo__wrap">
                    <span id="months">07</span>
                    Month
                </div>
                <div class="promo__wrap">
                    <span id="days">01</span>
                    Days
                </div>
                <div class="promo__wrap">
                    <span id="hours">09</span>
                    Hours
                </div>
            </div>
            <button class="promo__button">Register now,
                not Buying Tickets
            </button>
            <div class="promo__date">
                <span>2024. JAN 24-25</span>
                Riyadh, the arena Gharnatah
            </div>
        </div>
    </div>
</section>