<section class="we">
  <div class="container">
    <h2 class="we__title title">кто мы</h2>
    <div class="we__inner">
      <div class="we__content we__content--mobile">
        <p class="we__text">Мы — команда, <span>нацеленная на результат.</span> Мы работаем без лишней бюрократии и обеспечиваем полный цикл услуг по созданию и поддержке сайтов для вашего бизнеса.</p>
      </div>
      <div class="we__img-box">
        <img class="we__img-1" src="/img/we/circle-1.png" alt="">
        <img class="we__img-2" src="/img/we/circle-2.png" alt="">
      </div>
      <div class="we__content">
        <p class="we__text">Мы — команда, <span>нацеленная на результат.</span> Мы работаем без лишней бюрократии и обеспечиваем полный цикл услуг по созданию и поддержке сайтов для вашего бизнеса.</p>
        <p class="we__text">В основе нашей работы лежит доверительное отношение к клиентам, а также <span>качественный сервис.</span></p>
        <p class="we__text">Ваш успех — это и наш <span>успех.</span> Мы изначально прорабатываем все закулисные моменты, чтобы вывести ваш сайт в топ.</p>
      </div>
    </div>
  </div>
</section>