<footer class="footer">
  <div class="container">
      <div class="footer__top-box">
        <h2 class="footer__title title">давайте обсудим ваш проект</h2>
        <a href="/" class="footer__logo">
          <img src="/img/logo.png" alt="logo">
        </a>
      </div>

      <div class="footer__bottom-box">
      <button class="footer__btn button"><a target="_blank" href="mailto:nanalit16@gmail.com"><p>email </p><img src="/img/footer/arr.svg" alt="arrow"></a></button>
       <button class="footer__btn button"><a target="_blank" href="https://t.me/Nana_Lit"><p>telegram</p> <img src="/img/footer/arr.svg" alt="arrow"></a></button>
      </div>
    <div class="footer__copyright">
      <p>web dots agency © 2023</p>
      <p class="time">15:59:50</p>
      <p>Tula, Russia</p>
    </div>
  </div>
</footer>
