<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left-box">
        <a class="footer__logo">
          <img src="/img/logo.png" alt="logo">
        </a>
        <div class="footer__address">Riyadh, the arena Gharnatah <br> 24 to 25 jan 2024 <br> 9am to 6pm</div>
      </div>

      <div class="footer__service">
        <div class="footer__title">service</div>

        <ul class="footer__list">
          <li class="footer__item">
            <a data-href="#feedback">Help & Customer Service</a>
          </li>
          <li class="footer__item">
            <a data-href="#location">Location Map</a>
          </li>
          <li class="footer__item">
            <a data-href="#promo">Parteners Regestriation</a>
          </li>
          <li class="footer__item">
            <a data-href="#partners">Become a partner</a>
          </li>
        </ul>
      </div>

      <div class="footer__follow">
        <div class="footer__title">Follow</div>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#">Linkedin</a>
          </li>
          <li class="footer__item">
            <a href="#">Twitter</a>
          </li>
          <li class="footer__item">
            <a href="#">Youtube</a>
          </li>
        </ul>
      </div>

      <div class="footer__contact">
        <div class="footer__title">contact</div>

        <ul class="footer__list">
          <li class="footer__item">
            <a href="#">example@email.com</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__note">Customer Experience World Forum</div>
      <div class="footer__copy">© 2024</div>
    </div>
  </div>
</footer>
