html
body {
  position: relative;
  height: 100%;
  color: #fff;
  background-color: #1D1D1D;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  font-style: normal;
  overflow-x: hidden;
}
body.lock {
  overflow-y: hidden;
}

.owerlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1D1D1D;
  z-index: -3;
}

.owerlay.active {
  z-index: 3;
}

.container {
  max-width: 1800px;
  padding: 0 100px;
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.button {
  font-size: 20px;
  position: relative;
  width: 16%;
  font-weight: 700;
  transition: all .5s ease-in-out;
  padding: 15px 0;
  background-color: #6100FF;
  color: #fff;
  border: none;
  overflow: hidden;
  cursor: pointer;
    &::after {
      position: absolute;
      content: '';
      width: .1vw;
      height: .1vw;
      left: 50%;
      top: 50%;
      background-color: #fff;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      pointer-events: none;
      transition: all 0.5s ease-in-out;
      z-index: -2;
    }
    &::before {
      position: absolute;
      content: 'начать проект';
      color: transparent;
      pointer-events: none;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 15px;
      transform: translateX(-50%);
      transition: all 0.5s ease-in-out;
      z-index: -1;
    }
  &:hover {
    &::after {
      height: 16vw;
      width: 16vw;
      z-index: 2;
    }
    &::before {
      color: #000;
      z-index: 3;
    }
  }
  &--long {
    &:hover {
      &::after {
        height: 100vw;
        width: 100vw;
      }
    }
  }
}

@media (max-width: 1800px) {
  body {
    font-size: 1.3vw;
  }
}

@media (max-width: 1440px) {
  .title {
    margin-bottom: 50px;
    font-size: 5vw;
  }
}

@media (max-width: 1280px) {
  body {
    font-size: 16px;
  }
  .title {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .title {
    margin-bottom: 30px;
  }
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
  .title {
    font-size: 24px;
  }
}
